.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.env.template
database22.db
*.session
README.md
HOSTING.md
.github_setup.bat
hot_reload.bat
hot_reload.py
