# Telegram Bot ma'lumotlari
BOT_TOKEN=123456789:telegram_bot_token
API_ID=12345678
API_HASH=telegram_api_hash

# Admin ma'lumotlari
ADMIN_IDS=8347643369
ADMIN_USERNAME=@owapro
ADMIN_USERNAMES=@owapro

# Baza fayli (ixtiyoriy)
DB_FILE=database22.db

# Python manba fayli (ixtiyoriy)
SOURCE_FILE=pro.tag.10.py
